
.input-container {
  background-color: var(--color-light);
  box-sizing: border-box;
  margin-inline: auto;
  animation: 5s linear infinite alternate squeeze;
  height: auto;
  overflow-y: auto;
  padding: var(--s2);
  max-width: 40ch;
  min-width: 80%;

}

.with-input {
  display: flex;
  flex-wrap: wrap;
  gap: 0rem;

  & > * {
    flex-grow: 1;
  }

  & > :first-child {
    flex-basis: 24rem;
    //flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 66.666%;
  }

  input{
    width: 100%;
    font-size: inherit;
    font-family: var(--font-mono);
    border-width: var(--border-thin);
    border-radius: 0;
    padding: var(--s-1);
  }

  button {
    font-size: inherit;
    font-weight: 700;
    display: inline-block;
    cursor: pointer;
    line-height: 1.1;
    font-family: var(--font-special);
    color: var(--color-light);
    background-color: var(--color-dark);
    padding: 0.5em 1.5em 0.7em;
    border-width: var(--border-thin);

    outline: var(--border-thin) solid transparent;
    outline-offset: calc(var(--border-thin)*-1);

    border-color: var(--color-dark);
    max-width: 100%;
  }


}
